.puntos {
    border: solid black 10px;
    margin: 0px auto;
    width: 100px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sombra {
    border: solid grey 5px;
    margin: 10px
}

#marco {
    display: flex;
    border: solid black 10px;
    align-items: center;
    justify-content: center;
}

#login {
    margin-bottom: 10px;
}

#puntos {
    text-align: center;
}

img {
    width: 80px;
    height: 80px;
}